<!DOCTYPE html>
<html>
  <head>
    <title>Hist처rico</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Hist처rico de Temperatura</h1>
      </div>
      <canvas id="grafico"></canvas>
      <script type='text/javascript'>
      var rotulo = [];
      <% dados.forEach(function(item) { %>
        rotulo.push('<%=item.data_hora %>');
      <% }) %>

      var dado = [];
      <% dados.forEach(function(item) { %>
        dado.push(<%= item.valor.toFixed(1) %>);
      <% }) %>

      var objeto = grafico.getContext('2d');
      var graf = new Chart(objeto, {
        type: 'line',
        data: {
          labels: rotulo,
          datasets: [{
            label: 'Temperatura (째C)',
            data: dado,
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          }
        }
      });
      </script>
      <table class="table table-hover">
        <tr class="table-primary">
          <td>Data e Hora</td>
          <td>Temperatura</td>
        </tr>
        <% dados.forEach(function(item) { %>
        <tr>
          <td><%= item.data_hora %></td>
          <td align="right"><%= item.valor.toFixed(1) %>째C</td>
        </tr>
        <% }) %>
      </table>
    </div>
  </body>
</html>
